@use '../abstract/variables';

.modal {
    position: absolute;
    left: 0;
    top: 100%;
    //bottom: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    background: #fff;
    z-index: 1;
    border-radius: 25px 25px 0 0;
    transition: top .4s, bottom .4s;

    &-top {
        padding: 20px;
        display: flex;
        justify-content: space-between;

        .date {
            font-weight: 700;
        }
    }

    &-content {
        padding: 0 20px 20px;
        overflow-y: scroll;

        .m-count {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        ul {
            li {
                padding: 10px 0;

                .m-content {

                }
            }
        }

        .content-wrap {
            display: block;
            width: 100%;
            background: #f7f7f7;
            border-radius: 10px;
            padding: 20px 20px 50px;
            min-height: 150px;
            line-height: 1.6;
            border: none;
        }

        .btn-wrap {
            margin-top: 20px;
            display: flex;
            gap: 10px;

            .btn-delete {
                display: block;
                width: 50px;
                height: 50px;
                border: 1px solid #ddd;
                border-radius: 10px;
                color: #ddd;

                i {
                    font-size: 1.5em;
                }
            }

            .btn-save {
                display: block;
                border-radius: 10px;
                background: variables.$company-color;
                color: #fff;
                width: calc(100% - 60px);
            }
        }
    }

    &.opened {
        top: auto;
        bottom: 0;
    }
}

.dimmed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.modal.opened+.dimmed {
    opacity: 1;
}
